<br />
<h1>theChase</h1>
<h6 class="sub">by hiButterfly</h6>
<hr />

<div class="header">
  <div class="row">
    <div col-2 class="img"><%= image_tag "newlogo.jpg", class:"img-fluid" %></div>
    <div><h2 col-6 class="headtext-title"><br />Cutting to theChase<br />on all things business + branding</h2>
    </div>
  </div>
    <div><h5 class="headtext" col-10 offset-1>The most popular and informative articles about blogging, SEO, girl bosses,
      social media + more.<br />Summarized and in your inbox weekly.</h5>
    </div>
</div>  
<br />
<br />

<div class="signup" col-lg-8 offset-2 col-sm-12>words words words</div>
<div class="promo"></div>