@import "bootstrap";

.header {
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  
}

.clear {
  clear: both;
}

.headtext {
  text-align: center;
}
.headtext-title {
  color: #ffaec8;
  float: right;
}

.img-fluid {
  float: left;
}
.sub {
  margin-left: 65px;
}

.signup{
  background-color: #ffe6ee;
}

.promo {
  background: image_url('Sideweb.jpg') no-repeat center center fixed;
}